<mat-card>
	<mat-card-content>
		<form>
			<h3>Register</h3>

			<mat-form-field class=" full-width-input">
				<input matInput placeholder="Username" formControlName="username" required>
			</mat-form-field> <br>

			<mat-form-field class=" full-width-input">
				<input matInput placeholder="Full name" formControlName="name" required>
			</mat-form-field> <br>

			<mat-form-field class="full-width-input">
				<input matInput type="password" placeholder="Password" formControlName="password" required>
			</mat-form-field> <br>

			<mat-form-field class="full-width-input">
				<input matInput type="date" id="birthday" formControlName="birthdate" required>
			</mat-form-field> <br>

			<mat-form-field appearance="fill">
				<mat-label>Choose an option</mat-label>
				<mat-select>
					<mat-option value="option1">Option 1</mat-option>
					<mat-option value="option3">Option 3</mat-option>
				</mat-select>
			</mat-form-field>




			<button mat-raised-button color="primary">
				Login
			</button>
		</form>
	</mat-card-content>
</mat-card>
