.cuerpo{
  margin-top:30px;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.review-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.banner img {
	max-width: 750px;
}
.example-form {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  display: inline-block;
}

.example-full-width {
  width: 100%;
  display: inline-block;
}
