<body>
	<div class="card" *ngIf="userr">
		<div class="card-image">
			<img src="../../../../assets/profile.png" alt="">
		</div>
		
		<div class="details">
			<h2>{{userr.username}}</h2>
			<h3>{{userr.name}}</h3>
            <p>Nivel: {{userr.nivel}}</p>
            <p>exp: {{userr.exp}}</p>
            <p>rank: {{userr.rank}}</p>
            <p *ngIf="cantseguidores != -1">seguidores: {{cantseguidores}}</p>
            <p *ngIf="cantsiguiendo != -1">seguidos: {{cantsiguiendo}}</p>
            <p>Información: {{userr.information}}</p>
			<div *ngIf="userr.type == 1">
                <p *ngIf="cantgamesss != -1">Juegos realizados: {{cantgamesss}} </p>
            </div>
        
            <div *ngIf="userr.type == 2">
                <p *ngIf="cantreviews != -1">Reviews realizados: {{cantreviews}} </p>
            </div>
		</div>
	</div>

</body>

<router-outlet></router-outlet>
