<div class="banner">
    <div class="overlay"></div>
</div>

<div class="container mt-5">
<h1 class="fw-bold">Últimos Juegos</h1>

<div class="row">
    <div *ngFor="let game of lastGames" class="col-md-4 mb-3">
    
    <mat-card class="order-card" (click)="navigate( game )">
        <div mat-card-image>
        <!-- <img [src]="urlImage" /> -->
        </div>

        <mat-card-content>
        <h1>{{ game.name }}</h1>
        <p>{{ game.description }} </p>
        <p>{{game.downloadLink}}</p>
        </mat-card-content>
    </mat-card>
    </div>
</div>
</div>
<router-outlet></router-outlet>