<mat-toolbar>
    <span>MiTiendaOnline</span>
  
    <button mat-button routerLink="/" class="ms-2">Inicio</button>
  
    <button mat-button routerLink="/libros" class="ms-2">Libros</button>
  
    <button mat-button routerLink="/admin/libros" class="ms-2">
      Administración
    </button>
  
    <span class="spacer"></span>
  
    <button mat-button matBadge="5">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon> Henry Mendoza Puerta
    </button>
  
    <mat-menu #menu="matMenu">
      <button mat-menu-item><mat-icon>logout</mat-icon> Cerrar sesión</button>
    </mat-menu>
    
</mat-toolbar>
  
<router-outlet></router-outlet>
  